#divbody {
	padding-top: 10px;
	float: center;
	padding-left: 300px;
	padding-right: 300px;
	height: 150px;
}

a:link {
	text-decoration: none;
}

#navigate-wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 300px;
}

#navigate-wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 10px;
	padding-left: 100px;
}

#navigate-wrap ul li.current-menu-item {
	background: #ddd
}

#navigate-wrap ul li {
	float: left;
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
		sans-serif
}

#navigate-wrap ul ul {
	padding-left: 0px;
	padding-top: 10px;
	position: absolute;
	list-style: none;
	display: none;
	background:threedhighlight;
	width: 180px;
    border-radius: 20px;
    
}

#navigate-wrap ul ul li {
	float: none;
	width: 100px;
	line-height: 50%;
	padding: 20px 25px;
	font-size: 13px;
	font-family: sans-serif;
	margin: 10px;
    margin-left: 25px; 
	
}

#navigate-wrap ul li:hover>ul {
	display: block;
}

#navigate-wrap ul li:hover {
	background: #f6f6f6;
}

#navigate-wrap hr {
	padding-left: 970px;
	float: left;
}